spring:
  r2dbc:
    username:
    password:
    url:
  flyway:
    url:
  graphql:
    graphiql:
      enabled:
  main:
    allow-bean-definition-overriding:
  kafka:
    properties:
      sasl:
        mechanism:
        jaas:
          config:
      security:
        protocol:
    bootstrap-servers:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      group_id:

elastic:
  host:
  port:
  username:
  password:

redis:
  host:
  port:
  password:

logging:
  level:
    io.r2dbc.postgresql.QUERY: DEBUG # for queries
    io.r2dbc.postgresql.PARAM: DEBUG # for parameters
    org:
      springframework:
        r2dbc: DEBUG
        data:
          elasticsearch:
            client:
              WIRE: trace

springdoc:
  use-fqn:
  swagger-ui:
    path:

kafka:
  username:
  password: